@{
    ViewData["Title"] = "Home Page";
}

<h3>@ViewData["Message"]</h3>

@using (Html.BeginForm("GetWeatherDataByCity", "Home", FormMethod.Get))
{
    <h2><b>City</b></h2>
    <h3>Please input city name or index <img src="/images/city-filled.png"></h3>
    <p>

        <input type="text" name="City" />
    </p>
    <p>
        <input type="submit" value="Submit" />
    </p>
}