@{
    ViewData["Title"] = "Home Page";
}

<h3>@ViewData["Message"]</h3>

@using (Html.BeginForm("GetWeatherDataByCity", "Home", FormMethod.Get))
{
    <p>
        <label>City</label><br />
        <input type="text" name="City" />
    </p>
    <p>
        <input type="submit" value="Submit" />
    </p>
}