/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #b8b8b8;
}

hr {
    border-color: #333333;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.cwdtable {
    font-size: 20pt;
    color: #333333;
    width: 600px;
    border-width: 0px;
    padding: 8px;
    border-style: solid;
    border-collapse: collapse;
    border-radius: 20px;
    border-spacing: 0;
    background-color: #b8b8b8;
}

    .cwdtable th {
        font-size: 18pt;
        color: #c4c4c4;
        background-color: #6e6e6e;
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #b8b8b8;
    }

th:first-child {
    border-top-left-radius: 20px;
}

th:last-child {
    border-top-right-radius: 20px;
    border-right: none;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}

tr:last-child td:last-child {
    border-radius: 0 0 20px 0;
}

tr td:last-child {
    border-right: none;
}

.cwdtable tr {
    background-color: #dbdbdb;
}

.cwdtable td {
    font-size: 14pt;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #b8b8b8;
}

.mobileTable {
    overflow: auto;
    width: 100%
}

.cwdtable th, .cwdtable td {
    text-align: left
}

.cwdtable tr:hover {
    background-color: #ffbc8c;
}


